<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (submit)="submit()">
    <ion-grid>
      <ion-row *ngIf="action=='create'">
        <ion-item>
          <ion-label>{{ 'PLOT.FORM.QUANTITY.LABEL' | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="quantity" min="1">
          </ion-input>
        </ion-item>
      </ion-row>
      <div *ngIf="hasValidationError('quantity')" class="alert alert-danger">
        <p *ngIf="hasThisError('quantity', 'required')">
          {{ 'PLOT.FORM.QUANTITY.ALERT.REQUIRED' | translate }}
        </p>
      </div>

      <ion-row>
        <ion-item>
          <ion-label>{{ 'PLOT.FORM.NAME.LABEL' | translate }}</ion-label>
          <ion-input
            type="text"
            formControlName="name">
          </ion-input>
        </ion-item>
      </ion-row>
      <div *ngIf="hasValidationError('name')" class="alert alert-danger">
        <p *ngIf="hasThisError('name', 'required')">
          {{ 'PLOT.FORM.NAME.ALERT.REQUIRED' | translate }}
        </p>
        <p *ngIf="hasThisError('name', 'maxlength')">
          {{ 'PLOT.FORM.NAME.ALERT.MAX_LENGTH' | translate }}
        </p>
      </div>

      <ion-row>
        <ion-item>
          <ion-label>{{ 'PLOT.FORM.NUMBER.LABEL' | translate }}</ion-label>
          <ion-input
            type="number"
            formControlName="number" min="0">
          </ion-input>
        </ion-item>
      </ion-row>
      <div *ngIf="hasValidationError('number')" class="alert alert-danger">
        <p *ngIf="hasThisError('number', 'required')">
          {{ 'PLOT.FORM.NUMBER.ALERT.REQUIRED' | translate }}
        </p>
      </div>

      <div *ngIf="form.controls.quantity.value == 1">
        <ion-label>{{ 'PLOT.FORM.PERSON.LABEL' | translate }}</ion-label>
        <ion-searchbar *ngIf="!form.controls.person.value" (ionInput)="getItems($event)" (ionClear)="onClear($event)" [showCancelButton]="true" [autocomplete]="on" placeholder="{{ 'PLOT.FORM.PERSON.PLACEHOLDER' | translate }}"></ion-searchbar>
        <ion-card *ngIf="form.controls.person.value">
          <ion-item>
            <ion-label>{{form.controls.person.value.name}}</ion-label>
            <button ion-button clear item-right><ion-icon (click)="unselectPerson(person)" name="close"></ion-icon></button>
          </ion-item>
        </ion-card>
        <div *ngIf="showList">
          <ion-card *ngFor="let person of list">
            <ion-card-header (click)="selectPerson(person)">
              {{person.name}}
            </ion-card-header>
          </ion-card>
        </div>
        <div *ngIf="alertMessage">
        {{ alertMessage | translate: {
          person: form.controls.person.value.name,
          plot: (form.controls.person.value.plot.name + ' ' + form.controls.person.value.plot.number)
        } }}</div>
      </div>
    </ion-grid>

    <div class="info" *ngIf="form.valid && action=='create'" [innerHTML]='plotsMessage() | translate:{first: first_plot(), last: last_plot()}'></div>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col width-50>
    </ion-col>
    <ion-col width-50>
      <button ion-button type="submit" (click)="submit()">
        {{ 'PLOT.FORM.BUTTON.' + (action|uppercase) | translate }}
      </button>
    </ion-col>
  </ion-row>
</ion-footer>


