plot-form{
  ion-item.item{
    margin: 1rem 0;
    ion-label{
      color: #999;
      margin: 13px 8px;
    }
  }
  .info{
    margin-top: 30px;
    padding: 12px;
    color: white;
    background-color: map-get($colors, secondary);
    .plot-name{
      font-weight: bold;
    }
  }
}
