// page-reset-password {
//   background-color: blue;
//   ion-content{
//     &.content-md, &.content-ios, &.content-wp{
//       background-color: map-get($colors, secondary);
//       color: white;
//     }
//   }
//   ion-row{
//     &.info{
//       margin-bottom: 20px;
//       font-size: 20px
//     }
//   }
//   ion-input{
//     background-color: white;
//     border-radius: 5px;
//     color: black;
//     padding-left: 10px;
//   }
//   ion-grid{
//     margin-bottom: 50px;
//     .item-md, .item-ios, .item-wp{
//       background-color: map-get($colors, secondary);
//     }
//     .input-has-focus .label-md[floating], .input-has-value .label-md[floating],
//     .input-has-focus .label-ios[floating], .input-has-value .label-ios[floating],
//     .input-has-focus .label-wp[floating], .input-has-value .label-wp[floating],
//     .item-input .label-md, .item-input .label-ios, .item-input .label-wp{
//       color: white;
//     }

//     .item-input .label-md, .item-input .label-ios, .item-input .label-wp{
//       color: map-get($colors, secondary);
//       padding-left: 10px;
//     }
//   }
//   ion-footer{
//     ion-row{
//       button.button-clear{
//         color: white;
//       }
//     }
//   }
// }
