page-terms-and-conditions {
  h1{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
  }
  ol{
    padding-left: 0px;
    li{
      list-style-position: inside;
      margin-top: 3rem;
      h2{
        display: inline;
        text-transform: uppercase;
        font-size: 2rem;
      }
      ol{
        padding-left: 1rem;
      }
    }
  }
}
