<ion-content padding>
  <form id="login" [formGroup]="form">
    <ion-grid>
      <h1>{{ 'LOGIN.HEADING' | translate }}</h1>
      <ion-item>
        <ion-label floating>{{ 'LOGIN.FORM.EMAIL.LABEL' | translate }}</ion-label>
        <ion-input
          type="email"
          formControlName="email">
        </ion-input>
      </ion-item>
      <div *ngIf="hasValidationError('email')" class="alert alert-danger">
        <p *ngIf="hasThisError('email', 'required')">
          {{ 'LOGIN.FORM.EMAIL.ALERT.REQUIRED' | translate }}
        </p>
        <p *ngIf="hasThisError('email', 'pattern')">
          {{ 'LOGIN.FORM.EMAIL.ALERT.PATTERN' | translate }}
        </p>
      </div>

      <ion-item>
        <ion-label floating>{{ 'LOGIN.FORM.PASSWORD.LABEL' | translate }}</ion-label>
        <ion-input
          type="password"
          formControlName="password">
        </ion-input>
      </ion-item>
      <div *ngIf="hasValidationError('password')" class="alert alert-danger">
        <p *ngIf="hasThisError('password', 'required')">
          {{ 'LOGIN.FORM.PASSWORD.ALERT.REQUIRED' | translate }}
        </p>
      </div>
      <ion-item>
        <ion-label>{{ 'LOGIN.FORM.BUTTON.REMEMBER' | translate }}</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>
      <ion-item>
        <a (click)="goToResetPassword()" >{{ 'LOGIN.LINK.PASSWORD_LOST' | translate }}</a>
      </ion-item>
      <ion-item>
        <a (click)="goToRegister()">{{ 'LOGIN.LINK.REGISTER' | translate }}</a>
      </ion-item>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
    <ion-row>
      <ion-col width-50>
      </ion-col>
      <ion-col width-50>
        <button form="login" (click)="logIn()" ion-button id="log-in">
          Entrar
        </button>
      </ion-col>
    </ion-row>
</ion-footer>
