log-in{
  ion-input{
    background-color: white;
    margin-bottom: 13px;
  }

  .alert-danger{
    background: none;
    padding: 4px 20px;
    color: white;
    p{
      margin: 0;
      &:before{
        content: "\f2bf";
        font-family: "Ionicons";
        font-size: 1.6rem;
        padding: 0px;
      }
    }
  }
}
