<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Unete o crea</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Invitaciones</h1>
  <ion-card *ngIf="invitation" (click)="joinCommunity()">
  <ion-row>
    <ion-col>
      <ion-card-header>
        {{invitation['community_name']}}
      </ion-card-header>
    </ion-col>
    </ion-row>
  </ion-card>
  <h1>Comunidades</h1>
  <ion-card *ngFor="let community of communities">
  <ion-row>
    <ion-col>
      <ion-card-header>
        {{community['name']}}
      </ion-card-header>
    </ion-col>
    </ion-row>
  </ion-card>
  <span>Si aceptas una invitacion entras en la comunidad nueva pero sales de la vieja</span>
</ion-content>
