<ion-header>
  <ion-navbar>

    <ion-title>{{ title | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (submit)="submit()">
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-label>{{ 'CATEGORY.FORM.NAME.LABEL' | translate }}</ion-label>
          <ion-input
            type="text"
            formControlName="name"
            placeholder="{{ 'CATEGORY.FORM.NAME.PLACEHOLDER' | translate }}">
          </ion-input>
        </ion-item>
      </ion-row>
      <div *ngIf="hasValidationError('name')" class="alert alert-danger">
        <p *ngIf="hasThisError('name', 'required')">
          {{ 'CATEGORY.FORM.NAME.ALERT.REQUIRED' | translate }}
        </p>
        <p *ngIf="hasThisError('name', 'maxlength')">
          {{ 'CATEGORY.FORM.NAME.ALERT.MAX_LENGTH' | translate }}
        </p>
      </div>

      <ion-row>
        <ion-item>
          <ion-label>{{ 'CATEGORY.FORM.DESCRIPTION.LABEL' | translate }}</ion-label>
          <ion-textarea
            formControlName="description"
            rows="3"
            placeholder="{{ 'CATEGORY.FORM.DESCRIPTION.PLACEHOLDER' | translate }}">
          </ion-textarea>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item>
          <ion-label>{{ 'CATEGORY.FORM.MANDATORY.LABEL' | translate }}</ion-label>
          <ion-checkbox formControlName="mandatory"></ion-checkbox>
        </ion-item>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col width-50>
    </ion-col>
    <ion-col width-50>
      <button ion-button type="submit" (click)="submit()">
        {{ 'CATEGORY.FORM.BUTTON.CREATE' | translate }}
      </button>
    </ion-col>
  </ion-row>
</ion-footer>

