<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CATEGORY.CREATE.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (submit)="createCategory()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>{{ 'CATEGORY.FORM.NAME.LABEL' | translate }}</ion-label>
        </ion-col>
        <ion-col>
          <ion-input
            type="text"
            formControlName="name"
            placeholder="{{ 'CATEGORY.FORM.NAME.PLACEHOLDER' | translate }}">
          </ion-input>
        </ion-col>
      </ion-row>
      <div *ngIf="hasValidationError('name')" class="alert alert-danger">
        <p *ngIf="hasThisError('name', 'required')">
          {{ 'CATEGORY.FORM.NAME.ALERT.REQUIRED' | translate }}
        </p>
        <p *ngIf="hasThisError('name', 'maxlength')">
          {{ 'CATEGORY.FORM.NAME.ALERT.MAX_LENGTH' | translate }}
        </p>
      </div>

      <ion-row>
        <ion-label>{{ 'CATEGORY.FORM.DESCRIPTION.LABEL' | translate }}</ion-label>
      </ion-row>
      <ion-row>
        <ion-textarea
          formControlName="description"
          rows="3"
          placeholder="{{ 'CATEGORY.FORM.DESCRIPTION.PLACEHOLDER' | translate }}">
        </ion-textarea>
      </ion-row>

      <ion-row>
        <ion-label>{{ 'CATEGORY.FORM.MANDATORY.LABEL' | translate }}</ion-label>
        <ion-checkbox formControlName="mandatory"></ion-checkbox>
      </ion-row>
    </ion-grid>
    <button type="submit" ion-button outline>
      {{ 'CATEGORY.FORM.BUTTON.CREATE' | translate }}
    </button>
  </form>
</ion-content>
