.alert-danger{
  padding: 4px 10px;
  background-color: map-get($colors, danger);
  color: white;
}
ion-toast.success .toast-container{
  background-color: map-get($colors, success)
}
ion-toast.danger .toast-container{
  background-color: map-get($colors, danger)
}
