// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #212020;
$background-color:  #f4f4f4;
$toolbar-background: #ffffff;
$grid-padding-width: 0px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$colors: (
  primary:      #1a9186,
  secondary:    #f4ea36,
  dark-secondary: #f2be28,
  danger:       #f53d3d,
  success:      #5cb85c,
  light:        #f4f4f4,
  dark:         #222
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$checkbox-ios-background-color-on: map-get($colors, secondary);
$checkbox-ios-icon-border-color-on: map-get($colors, secondary);


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$checkbox-md-icon-background-color-on: map-get($colors, secondary);
$checkbox-md-icon-border-color-on: map-get($colors, secondary);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$checkbox-wp-icon-background-color-on: map-get($colors, secondary);
$checkbox-wp-icon-border-color-on: map-get($colors, secondary);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
