page-welcome {
  .content-ios, .content-md, .content-wp{
    background-color: map-get($colors, primary);
    text-align: center;
  }
  .scroll-content{
    min-height: 100%;
    background-image: url('../../assets/img/welcome.png');
    background-size: auto 40vh;
    background-repeat: no-repeat;
    background-position: center top;
  }
  div.content{
    margin-top: 40vh;
  }
  h1{
    font-size: 3em;
  }
  p{
    font-size: 1.5em;
  }

}
