page-points {
  .scroll-content > div{
    margin-top: 20px;
  }

  ion-card.card-md, ion-card.card-ios, ion-card.card-wp {
    background-color: white;
    ion-card-header{
      border-bottom: 1px solid darken(map-get($colors,light), 20%);
    }
    ion-card-content{
      padding-top: 13px;
    }
  }

  ion-item.item-md, ion-item.item-ios, ion-item.item-wp{
    background-color: white;
  }

  ion-input {
    background-color: white;
  }

  .personpoints-left-text{
    color: map-get($colors, primary)
  }
}
