<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'POINTS.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="points-tabs">
    <ion-row>
      <ion-col *ngFor="let tab of tabs" (click)="selectTab(tab.title)" [class.active]="tab.active">{{ tab.title | translate }}</ion-col>
    </ion-row>

  </ion-grid>
  <ion-card *ngFor="let type of list">
    <ion-card-header>
      <span class="number">{{ type.points }}</span>
      {{ type.type + ".name" | uppercase | translate }}
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{ type.type + ".DESCRIPTION" | uppercase | translate }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
