tasks {
	ion-card {
		border-left: 8px solid rgba(0, 0, 0, 0);
    color: #888888;
		&.cat-1 {
			border-color: map-get($category-colors, cat-1)
		}
		&.cat-2 {
			border-color: map-get($category-colors, cat-2)
		}
		&.cat-3 {
			border-color: map-get($category-colors, cat-3)
		}
    &.cat-4 {
      border-color: map-get($category-colors, cat-4)
    }
    &.cat-5 {
      border-color: map-get($category-colors, cat-5)
    }
    &.cat-6 {
      border-color: map-get($category-colors, cat-6)
    }
    background-color: #fff !important;
	}

  ion-col{
    span.finalized{
      background-color: yellow;
    }
  }

  .people-left-text{
    color: map-get($colors, primary)
  }

  ion-icon {
    font-size: 1.8em;
    padding: 10px
  }

  .tasks-tabs{
    text-align: center;
    padding: 15px 0px;
    .active{
      color: red;
    }
  }
}
