tasks {
	ion-card {
		border-left: 8px solid rgba(0, 0, 0, 0);
    color: #888888;
		&.going {
			border-color: map-get($category-colors, cat-2)
		}
    background-color: #fff !important;
	}

  ion-col{
    span.finalized{
      background-color: yellow;
      padding: 5px 10px;
      border-radius: 8px;
    }
  }

  .people-left-text{
    color: map-get($colors, primary)
  }

  ion-icon {
    font-size: 1.8em;
    padding: 10px
  }

  .tasks-tabs{
    text-align: center;
    padding: 15px 0px;
    .active{
      color: red;
    }
  }
}
