tasks {
	ion-card {
		border-left: 8px solid rgba(0, 0, 0, 0);
    color: #888888;
		&.going {
			border-color: map-get($colors, secondary)
		}
    background-color: #fff !important;
	}

  ion-col{
    span.finalized{
      background-color: yellow;
      padding: 5px 10px;
      border-radius: 8px;
    }
  }

  .people-left-text{
    color: map-get($colors, danger);
    font-weight: bold;
  }

  ion-icon {
    font-size: 1.8em;
    padding: 10px;
  }

  .user-going{
    color: map-get($colors, secondary);
    font-weight: bold;
    padding-top: 8px;
  }

}
