task-form {
  ion-col {
    position: relative;
  }
  ion-col ion-datetime, ion-col ion-select{
    position: initial;
  }
  ion-row {
    padding: 0 15px;

    &.date{
      border-bottom: 0px;
    }
  }
}
