people {
  ion-content.searching .scroll-content{
    padding-top: 50px;
  }

  ion-card {
    .name{
      font-weight: bold;
    }
    .plot{
      text-transform: uppercase;
      font-size: 1.4rem;
    }
    button.more{
      position: absolute;
      right: 15px;
      background-color: white;
    }
  }

  .people ion-row ion-col:first-child{
    width: 15%;
    max-width: 15%;
    min-width: 50px;
    img{
      width: 100%;
    }
  }

  .status {
    margin-top: .5rem;
    button, [ion-button]{
      background-color: map-get($colors, light);
      color: map-get($colors, dark);
      span span{
        display: none;
      }
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 4rem;
      height: 4rem;
      padding: 0px;
      margin-right: 2rem;
      &.bad{
        background-image: url('../assets/img/sad.svg');
      }
      &.regular{
        background-image: url('../assets/img/expressionless.svg');
      }
      &.good{
        background-image: url('../assets/img/happy.svg');
      }
      &[disabled], &:hover:not(.disable-hover){
        opacity: 1;
        color: map-get($colors, light);
        &.bad{
          background-color: map-get($colors, danger);
        }
        &.regular{
          background-color: orange;
        }
        &.good{
          background-color: map-get($colors, success);
        }
      }
    }
  }

  #plots{
    margin-bottom: 90px;
  }
}
