<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title() | translate }}</ion-title>
    <ion-buttons end>
      <button *ngIf="personService.isAdmin" ion-button (click)="tabs[2].active ? goToAddPlot() : goToInvitePerson()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-grid class="tabs"  *ngIf="personService.isAdmin">
    <ion-row>
      <ion-col *ngFor="let tab of tabs" (click)="selectTab(tab.title)" [class.active]="tab.active">{{ tab.title | translate }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar *ngIf="searching" (ionInput)="getItems($event)" (ionClear)="onClear($event)" [showCancelButton]="true"></ion-searchbar>
</ion-header>

<ion-content padding [ngClass]="{'searching': searching }">

  <div *ngIf="!tabs[2].active" class="people">
    <p *ngIf="tabs[1].active">{{ 'PEOPLE.INVITED.HEADING' | translate }}</p>
    <ion-card *ngFor="let person of filteredList">
    <ion-row>
      <ion-col>
        <img src="{{person.getGravatar()}}" alt="{{person.email}}">
      </ion-col>
      <ion-col>
        <ion-card-header>
          <p class="name">{{ person.name }}</p>
          <p class="email" *ngIf="personService.isAdmin">{{ person.email }}</p>
        </ion-card-header>

        <ion-card-content>
          <p class="plot">
            {{ person.plot && person.plot.getFullName() || '' }}
          </p>
          <p class="is-admin" *ngIf="person.type == 2">
            {{ 'PERSON.ADMIN' | translate }}
          </p>
        </ion-card-content>
      </ion-col>
      <button class="more" ion-button icon-only clear *ngIf="personService.isAdmin && tabs[0].active" (click)="presentPersonPopover($event, person)">
        <ion-icon name="more"></ion-icon>
      </button>
      </ion-row>
    </ion-card>
  </div>

  <div id="plots" *ngIf="tabs[2].active">
    <ion-card *ngFor="let plot of filteredList">
      <ion-row>
        <ion-col>
          <ion-card-header>
            {{ plot.name }} {{ plot.number }}
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <span *ngIf="plot.person">
                  {{ plot.person.name }}
                </span>
                <span *ngIf="!plot.person">
                  {{ 'PLOT.UNASSIGNED' | translate }}
                </span>
              </ion-row>
              <ion-row class="status" *ngIf="plot_points_enabled">
                <button class="bad" [disabled]="1 == plot.status" (click)="setStatus(plot, 1)" ion-button round>
                  <span>{{ 'PLOT.STATUS.BAD' | translate }}</span>
                </button>
                <button class="regular" [disabled]="2 == plot.status" (click)="setStatus(plot, 2)" ion-button round>
                  <span>{{ 'PLOT.STATUS.REGULAR' | translate }}</span>
                </button>
                <button class="good" [disabled]="3 == plot.status" (click)="setStatus(plot, 3)" ion-button round>
                  <span>{{ 'PLOT.STATUS.GOOD' | translate }}</span>
                </button>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-col>
        <button class="more" ion-button icon-only clear
        (click)="presentPlotPopover($event, plot)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-row>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="tabs[2].active">
  <ion-row class="revision-buttons">
    <ion-col width-50>
      <button ion-button
        (click)="saveStatus()">
          {{ 'PLOT.STATUS.BUTTONS.SAVE' | translate }}
      </button>
    </ion-col>
    <ion-col width-50>
      <button ion-button
        (click)="createRevision()">
          {{ 'PLOT.STATUS.BUTTONS.ADD_REVISION' | translate }}
      </button>
    </ion-col>
  </ion-row>
</ion-footer>

