people {
  ion-card {
    color: #888888;
    background-color: #fff !important;
  }
  .tabs{
    text-align: center;
    padding: 15px 0px;
    .active{
      color: red;
    }
  }
  ion-row ion-col:first-child{
    max-width: 100px;
  }
}
