page-points-help {
  [padding] .scroll-content{
    background-image: url('../../assets/img/seed.svg');
    background-position: center 40px;
    background-size: 100px;
    background-repeat: no-repeat;
    padding-top: 160px;
    line-height: 2em;
    p{
      margin: 1.5em 0;
    }
    li{
      margin-bottom: .5em;
    }
  }
}
