<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CATEGORIES.FAV.TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button [hidden]="!taskService.isAdmin" ion-button (click)="goToCreateCategory()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let category of categories">
      <ion-item class="category">
        <ion-label (click)="toggleDescription(category)">
          {{category.name}}
        </ion-label>

        <ion-toggle item-right checked="{{category.fav==true}}" [hidden]="category.mandatory" (ionChange)="toggleFavorite(category)"></ion-toggle>e>

        <button item-right ion-button icon-only clear *ngIf="taskService.isAdmin" (click)="presentPopover($event, category)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-item>
      <div class="description" [ngClass]="category.showDescription ? 'shown' : 'hidden'">
        {{getDescription(category) || 'CATEGORY.DEFAULT_DESCRIPTION' | translate}}
      </div>
    </div>
  </ion-list>
</ion-content>
