page-fav-categories {
  ion-list{
    overflow-y: hidden;
    ion-item.item{
      padding: 1.5rem 0 0 16px;
      &.category.item-block .item-inner{
        border-bottom: none;
        button{
          min-width: 42px;
        }
      }
    }
  }
  .description{
    display: block;
    overflow: hidden;
    min-height: 0;
    transition: 0.09s all linear;
    height: auto;
    font-size: 0.9em;
    padding: 0px 16px 16px 16px;
    &.shown{
      height: auto;
    }
    &.hidden{
      padding-top: 0px;
      padding-bottom: 0px;
      height: 0px;
    }
    .label-md, .label-ios, .label-wp{
      margin: 0;
    }
  }
}
