tasks {
	ion-card {
		border-left: 8px solid rgba(0, 0, 0, 0);
    color: #888888;
		&.cat-limpieza {
			border-color: map-get($category-colors, cleaning)
		}
		&.cat-general {
			border-color: map-get($category-colors, general)
		}
		&.cat-cosecha {
			border-color: map-get($category-colors, harvest)
		}
    background-color: #fff !important;
	}

  .people-left-text{
    color: map-get($colors, primary)
  }

  ion-icon {
    font-size: 1.8em;
    padding: 10px
  }

  .tasks-tabs{
    text-align: center;
    padding: 15px 0px;
    .active{
      color: red;
    }
  }
}
