page-register {
  h1{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    font-size: 2.8rem;
  }

  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }

  a{
      color: white;
      text-decoration: underline;
  }

  .alert-danger{
    background: none;
    padding: 4px 20px;
    color: white;
    p{
      margin: 0;
      &:before{
        content: "\f2bf";
        font-family: "Ionicons";
        font-size: 1.6rem;
        padding: 0px;
      }
    }
  }
}
