<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-buttons *ngIf="taskService.isAdmin" end>
      <button ion-button (click)="goToDuplicateTask()">
        <ion-icon name="git-branch"></ion-icon>
      </button>
      <button ion-button (click)="goToEditTask()">
        <ion-icon name="clipboard"></ion-icon>
      </button>
      <button ion-button (click)="deleteTask()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col><h1>{{task.title}}</h1></ion-col>
    </ion-row>
    <ion-row class="date">
      <ion-col>
        {{task.from_date | amDateFormat:'dddd D MMMM' }}
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="{{finalizeColor}}">Finalizada</ion-label>
          <button *ngIf="taskService.isAdmin" ion-button clear color="{{finalizeColor}}" (click)="markAsFinalized(task)">
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row class="hours">
      <ion-col>
        {{task.from_date | amDateFormat:'H:mm[h]' }}
        {{task.to_date | amDateFormat:'[ - ]H:mm[h]' || ''}}
      </ion-col>
    </ion-row>
    <ion-row class="categories">
      <ion-col><span class="category cat-{{task.category}}">{{getCategoryName(task.category)}}</span></ion-col>
    </ion-row>
    <ion-row class="note">
      <ion-col>{{task.note}}</ion-col>
    </ion-row>
    <ion-row class="remaining people">
      <ion-col [innerHTML]='peopleMessage(task) | translate:{count: task.peopleLeft()}'>
      </ion-col>
    </ion-row>
    <ion-row class="people_going">
      <ion-col>
        <img *ngFor="let person of task.people_going" src="http://lorempixel.com/100/100/sports/{{person.id}}" alt="{{person.name}}">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <button ion-button id="going" color="danger" clear full
          [disabled]="isUserGoing()"
          (click)="going()">
          {{ 'TASK.BUTTONS.GOING' | translate}}
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button id="not-going" color="danger" clear full
          [disabled]="isUserNotGoing()"
          (click)="notGoing()">
          {{ 'TASK.BUTTONS.NOTGOING' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
