task-detail {
  ion-content{
    [padding] h1:first-child{
      font-size: 3rem;
      font-weight: bold;
    }
    .datetime, .note,
    .people-going p:first-child,
    .people-not-going p:first-child{
      font-size: 1.5rem;
      &:before{
        content: "";
        display: block;
        float: left;
        margin-right: 20px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
      }
    }
    .datetime:before{
      height: 50px;
      background-image: url('../assets/img/calendar.svg');
    }
    .note:before{
      background-image: url('../assets/img/card.svg');
    }
    .people-going p:first-child:before{
      background-image: url('../assets/img/people.svg');
    }
    .people-not-going p:first-child:before{
      background-image: url('../assets/img/people-not.svg');
    }
    .datetime{
      .date{
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
      }
      .hours{
        margin: 0 0 1rem 0;
        font-size: 2rem;
      }
    }
    .remaining{
      color: map-get($colors, dark);
      font-size: 1.6rem;
    }
    .finalize{
      div:last-child{
        text-align: right;
      }
    }
    ion-row{
      margin: 1rem 0;
      &.categories{
        margin: -1rem 0 2rem 0;
        span.category {
          display: inline-block;
          padding: 6px 20px;
          margin-right: 5px;
          margin-top: 5px;
          color: #888888;
          background-color: #fff !important;
        }
      }
      &.note{
        font-weight: bold;
      }
    }

    .people-going ion-row, .people-not-going ion-row{
      margin-left: -1rem;
      img{
        margin: 1rem 0 0 1rem;
        width: 4rem;
        border-radius: 2rem;
      }
      .toggle-people{
        margin: 1rem 0 0 1rem;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        background-color: map-get($colors, primary);
        color: white;
        line-height: 4rem;
        text-align: center;
        font-size: 1.5rem;
        .less{
          font-size: 2rem;
          padding: 0;
        }
      }
      &:not(.show_all){
        img:nth-child(n+5){
          display: none;
        }
        .less{
          display: none;
        }
      }
      &.show_all{
        .more{
          display: none;
        }
      }
    }
  }
}
