<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-buttons *ngIf="taskService.isAdmin" end>
      <button ion-button (click)="goToDuplicateTask()">
        <ion-icon name="copy"></ion-icon>
      </button>
      <button ion-button (click)="goToEditTask()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button (click)="deleteTask()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col><h1>{{task.title}}</h1></ion-col>
    </ion-row>
    <ion-row class="date">
      <ion-col>
        {{task.from_date | amDateFormat:'dddd D MMMM' }}
      </ion-col>
      <ion-col>
        <ion-chip>
          <ion-label color="{{task.finalizeColor()}}">{{ 'TASK.FINISHED' | translate }}</ion-label>
          <button *ngIf="taskService.isAdmin" ion-button clear color="{{task.finalizeColor()}}" (click)="toggleFinalized(task)">
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row class="hours">
      <ion-col>
        {{task.from_date | amDateFormat:'H:mm[h]' }}
        {{task.to_date | amDateFormat:'[ - ]H:mm[h]' || ''}}
      </ion-col>
    </ion-row>
    <ion-row class="categories">
      <ion-col><span class="category cat-{{category.id}}" *ngFor="let category of task.categories">{{category.name}}</span></ion-col>
    </ion-row>
    <ion-row class="note">
      <ion-col>{{task.note}}</ion-col>
    </ion-row>
    <ion-row class="remaining people">
      <ion-col [innerHTML]='task.peopleMessage() | translate:{count: task.peopleLeft()}'>
      </ion-col>
    </ion-row>
    <span>{{'TASK.PEOPLE.GOING' | translate}}</span>
    <ion-row class="people-going">
      <ion-col>
        <img *ngFor="let person of task.people_going" src="http://lorempixel.com/100/100/sports/{{person.id}}" alt="{{person.name}}">
      </ion-col>
      <span *ngIf="task.people_going.length > 4" class="toggle-people" (click)="togglePeopleGoing($event)">
         <span class="more">+{{task.people_going.length - 4}}</span>
         <ion-icon class="less" name="arrow-up"></ion-icon>
      </span>
    </ion-row>
    <span>{{'TASK.PEOPLE.NOT_GOING' | translate}}</span>
    <ion-row class="people-going">
      <ion-col>
        <img *ngFor="let person of task.people_not_going" src="http://lorempixel.com/100/100/sports/{{person.id}}" alt="{{person.name}}">
      </ion-col>
      <span *ngIf="task.people_not_going.length > 4" class="toggle-people" (click)="togglePeopleGoing($event)">
         <span class="more">+{{task.people_not_going.length - 4}}</span>
         <ion-icon class="less" name="arrow-up"></ion-icon>
      </span>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-row class="going-buttons" [hidden]="task.userNotAllowedToGo()">
      <ion-col width-50>
        <button ion-button id="going" color="danger" clear full
          [disabled]="task.isUserGoing()"
          (click)="going()">
          {{ 'TASK.BUTTONS.GOING' | translate}}
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button id="not-going" color="danger" clear full
          [disabled]="task.isUserNotGoing()"
          (click)="notGoing()">
          {{ 'TASK.BUTTONS.NOTGOING' | translate}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="covered-message" *ngIf="task.userNotAllowedToGo()">{{ 'TASK.MESSAGES.COVERED' | translate}}</ion-row>
</ion-footer>
