task-detail {
  [padding] h1:first-child{
    font-size: 3rem;
    font-weight: bold;
    // margin: 2rem 0 3rem 0;
  }
  ion-row{
    margin: 1rem 0;
    &.date{
      margin: 0;
      font-size: 2rem;
      font-weight: bold;
    }
    &.hours{
      margin: 0 0 1rem 0;
      font-size: 2rem;
    }
    &.categories{
      // margin: 1.5rem 0 2rem 0;
      span.category {
        display: inline-block;
        padding: 6px 20px;
        border-left: 8px solid rgba(0, 0, 0, 0);
        color: #888888;
        &.cat-1 {
          border-color: map-get($category-colors, cat-1)
        }
        &.cat-2 {
          border-color: map-get($category-colors, cat-2)
        }
        &.cat-3 {
          border-color: map-get($category-colors, cat-3)
        }
        &.cat-4 {
          border-color: map-get($category-colors, cat-4)
        }
        &.cat-5 {
          border-color: map-get($category-colors, cat-5)
        }
        &.cat-6 {
          border-color: map-get($category-colors, cat-6)
        }
        background-color: #fff !important;
      }
    }
    &.note{
      font-weight: bold;
    }
    &.people_going{
      margin-left: -1rem;
      img{
        margin: 1rem 0 0 1rem;
        width: 4rem;
        border-radius: 2rem;
      }
    }
  }
}

ion-icon {
  font-size: 1.8em;
  padding: 10px
}
