// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

button.button-default{
  &.button-ios, &.button-md, &.button-wp {
    background-color: map-get($colors, primary);
    color: #fff;
    &:hover:not(.disable-hover) {
      background-color: map-get($colors, primary);
    }
  }
}

.tabs{
  text-align: center;
  text-transform: uppercase;
  background-color: $toolbar-background;
  ion-col{
    padding: 12px 0px;
    &.active{
      border-bottom: 4px solid map-get($colors, secondary);
    }
  }
}

ion-footer ion-row{
  margin: 0px;
  background-color: map-get($colors, light);
  &.covered-message{
    margin: 10px;
    padding: 10px;
  }
  button.button.button-default{
     @extend .button-full;
     background-color: transparent;
     color: map-get($colors, primary);
     box-shadow: none;
     margin: 0px;
     min-height: 56px;
     &:hover{
       color: map-get($colors, secondary);
     }
  }
}

form{
  .item-md, .item-mios, .item-wp{
    padding: 0;
    background-color: inherit;
    &.item-block .item-inner{
      padding: 0px;
    }
  }
}

log-in, page-register, page-reset-password{
  h1, p, a, ion-label{
    color: map-get($colors, dark);
  }
  a{
    text-decoration: underline;
  }
  ion-footer{
    &.footer-md::before{
      background-image: none;
    }
    ion-row{
      background-color: transparent;
      button.button.button-default{
        background-color: map-get($colors, primary);
        box-shadow: none;
        color: white;
        margin: 0px 20px 20px 0px;
        max-width: 80%;
        border-radius: 10px;
        &:hover:not(.disable-hover){
          background-color: map-get($colors, primary);
        }
      }
    }
  }

  ion-content{
    &.content-md, &.content-ios, &.content-wp{
      background-color: map-get($colors, secondary);
      color: white;
      .item-md, .item-ios, .item-wp{
        &.item-block,
        &.item-input.ng-invalid.ng-touched:not(.input-has-focus),
        &.item-input.ng-valid.input-has-value:not(.input-has-focus){
          .item-inner{
            border-bottom: none;
            box-shadow: none;
          }
        }
      }

      form{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;

        ion-input.ng-dirty.ng-valid,
        ion-input.ng-dirty.ng-invalid{
          padding-right: 25px;
          &:after{
            color: map-get($colors, danger);
            content: "\f2bf";
            font-family: "Ionicons";
            font-size: 1.6rem;
            padding: 0px;
            position: absolute;
            right: 25px;
            top: 38px;
          }
        }

        ion-input.ng-dirty.ng-invalid{
          &:after{
            color: map-get($colors, danger);
            content: "\f2bf";
          }
        }

        ion-input.ng-dirty.ng-valid{
          &:after{
            color: map-get($colors, success);
            content: "\f2bb";
          }
        }

        .alert-danger{
          background: none;
          padding: 4px;
          p{
            color: map-get($colors, danger);
            margin: 0;
          }
        }
      }

      ion-grid{
        margin-bottom: 50px;
        .item-md, .item-ios, .item-wp{
          background-color: inherit;
        }
        .input-has-focus, .input-has-value{
          .label-md[floating], .label-ios[floating], .label-wp[floating]{
            color: map-get($colors, primary);
          }
        }
        .item-input .label-md,
        .item-input .label-ios,
        .item-input .label-wp{
          color: map-get($colors, dark);
          padding-left: 10px;
        }

        ion-input{
          background-color: white;
          border-radius: 5px;
          color: black;
          padding-left: 10px;
        }

        .item-checkbox{
          height: 65px;
          &.item.item-md .checkbox-md {
            padding: 9px 10px 9px 4px;
            margin: 0;
          }
          .item-cover{
            position: relative;
            width: 0;
            height: 0;
          }
          .item-inner{
            color: white;
          }
          ion-checkbox{
            line-height: 0;
          }
        }
      }
    }
  }
}

ion-card, ion-card.card-md, ion-card.card-ios, ion-card.card-wp {
  margin: 10px 0px 10px 0px;
  width: 100%;
  color: map-get($colors, dark);
  background-color: #fff !important;
  font-size: 1.6rem;
}

ion-menu{
  .toolbar-ios ion-title{
    position: relative;
    height: auto;
  }
}
.menu-inner{
  .toolbar{
    padding-top: 8px;
    padding-bottom: 0px;
    .toolbar-background-md,
    .toolbar-background-ios,
    .toolbar-background-wp,{
      background-color: map-get($colors, secondary);
    }
    .item-md, .item-ios, .item-wp{
      background-color: inherit;
      padding-left: 8px;
    }
    .toolbar-title,
    .toolbar-title-md,
    .toolbar-title-ios,
    .toolbar-title-wp{
      padding: 15px 12px;
    }
    &.toolbar-ios{
      ion-title.title-ios{
        padding-left: 10px
      }
      &.statusbar-padding{
        min-height: 100px !important
      }
    }
    #change-community {
      background-color: transparent;
      font-size: 1.5rem;
      padding-bottom: 10px;
      &::after{
        font-family: "Ionicons";
        content:"\f280";
      }
    }
    span.invitations{
      strong{
        font-weight: normal;
        background-color: map-get($colors, secondary);
        border: 1px solid black;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        font-size: 0.9em;
        min-width: 1.2em;
        position: relative;
        left: -15px;
        bottom: 12px;
      }
      &::before{
        display: inline-block;
        width: 30px;
        height: 1.6rem;
        content: "";
        background-image: url('../assets/img/message.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left 0 bottom 0;
      }
    }
  }
  ion-content{
    padding-top: 10px;
    ion-list .item-block .item-inner,
    ion-list > .item-block:first-child,
    ion-list > .item-block:last-child{
      border: none;
    }

    ion-list > .item-block.logout{
      border-top: 1px solid map-get($colors, dark);
      #adminMenu &{
        border: none;
      }
    }

    ion-list > .item-block.points-settings{
      border-top: 1px solid map-get($colors, dark);
    }
    .scroll-content{
      padding-top: 10px;
    }
    button{
      font-size: 1.8rem;
      line-height: 4rem;
      &::before{
        display: inline-block;
        width: 30px;
        margin-top: 1.8rem;
        height: 2.5rem;
        padding-right: 8px;
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
      }
      &.tasks::before{
        background-image: url('../assets/img/task.svg');
      }
      &.categories-fav::before{
        background-image: url('../assets/img/heart.svg');
      }
      &.points::before{
        background-image: url('../assets/img/medal.svg');
      }
      &.points-donate:before{
        background-image: url('../assets/img/seed.svg');
      }
      &.people::before{
        background-image: url('../assets/img/people.svg');
      }
      &.plots::before{
        background-image: url('../assets/img/plot.svg');
      }
      &.community-join::before{
        background-image: url('../assets/img/message.svg');
      }
      &.community-create::before{
        content: "\f273";
        font-family: "Ionicons";
        background-image: none;
      }
      &.points-settings, &.logout{
        font-size: 1.8rem;
        line-height: 2rem;
        &::before{
          content: none;
        }
      }
    }
  }
}

ion-icon {
  font-size: 1.8em;
  padding: 10px
}

ion-chip ion-icon {
  width: auto;
  height: auto;
}
